<h1>Individual Genre Page</h1>
<h3>Genre: <%= @genre.name %><h3>

<h3>Artists: <% @genre.artists.each do |artist| %>
    <a href="/artists/<%=artist.slug%>"><%= artist.name %></a><h3>
    <%end%>
<h3>Songs:  <% @genre.songs.each do |song| %>
   <a href="/songs/<%=song.slug%>"><%=song.name%></a>
   <%end%>

<h5><a href="/songs">Return to all Songs</a><h5>  
